#navigation{ float:right; background:none; width:50%; border:none; }
#header{ float:left; background:none; width:50%; padding:0; margin:0; border:none; }

#fullheadwrap{ background: #cc0000; /* Old browsers */
		 }

#nav{ display:none; position:absolute; left:-100%; top:43px; z-index:100; background:#fff; list-style:none; width:200%; margin:0; padding:0; border-bottom:2px solid #e9242e; }
#nav li{ padding:10px 0; border-bottom:1px dotted #c0c0c0; width:100%; }
#nav li a{ text-shadow:none; color:#cc0000; }
#nav .current_page_item a,
#nav .current_page_item a:hover,
#nav .current_page_item li a
#nav li:hover ul, #nav li.sfHover ul,
#nav .sfHover a, #nav a:hover, #nav li a:hover{ background:none; text-shadow:none; color:inherit; }
#nav li li{ display:none; }

a#menutoggle.active {
	background: #333 url(../images/mobile.png) -205px 15px no-repeat;
	background: url(../images/mobile.png) -205px 15px no-repeat #b5000a; /* Old browsers */
	background: url(../images/mobile.png) -205px 15px no-repeat -moz-linear-gradient(top, #b5000a 0%, #dc252f 100%); /* FF3.6+ */
	background: url(../images/mobile.png) -205px 15px no-repeat -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5000a), color-stop(100%,#dc252f)); /* Chrome,Safari4+ */
	background: url(../images/mobile.png) -205px 15px no-repeat -webkit-linear-gradient(top, #b5000a 0%,#dc252f 100%); /* Chrome10+,Safari5.1+ */
	background: url(../images/mobile.png) -205px 15px no-repeat -o-linear-gradient(top, #b5000a 0%,#dc252f 100%); /* Opera11.10+ */
	background: url(../images/mobile.png) -205px 15px no-repeat -ms-linear-gradient(top, #b5000a 0%,#dc252f 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5000a', endColorstr='#dc252f',GradientType=0 ); /* IE6-9 */
	background: url(../images/mobile.png) -205px 15px no-repeat linear-gradient(top, #b5000a 0%,#dc252f 100%); /* W3C */ 
}

#nav li a.mobclose, #nav li a.mobclose:hover{ background:url(../images/mob-close.png) no-repeat; }